{% load static %}

<!-- Header -->
<header id="header" data-transparent="true" class="light submenu-light">
    <div class="header-inner">
        <div class="container">
            <!--Logo-->
            <div id="logo"> <a href="/"><span class="logo-default">Richmond PD</span><span class="logo-dark">Richmond PD</span></a> </div>
            <!--End: Logo-->

            <!--Navigation Resposnive Trigger-->
            <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
            <!--end: Navigation Resposnive Trigger-->
            <!--Navigation-->
            <div id="mainMenu">
                <div class="container">
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/blog">News</a></li>
                            <li><a href="/about">About</a></li>
                            <li class="/dropdown"><a href="#">FAQ's</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu"><a href="#">Topbar</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="header-topbar.html">Light</a></li>
                                            <li><a href="header-topbar-dark.html">Dark</a></li>
                                            <li><a href="header-topbar-transparent.html">Transparent</a></li>
                                            <li><a href="header-topbar-colored.html">Colored</a></li>
                                            <li><a href="header-topbar-fullwidth.html">Fullwidth</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!--end: Navigation-->
        </div>
    </div>
</header>
<!-- end: Header -->