{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Body Inner -->
    <div class="body-inner">


        

        <!-- SECTION IMAGE FULLSCREEN -->
        <section class="halfscreen" data-bg-parallax="{% static 'images/hero.jpeg' %}">
            <div class="bg-overlay"></div>
            <div class="container container-fullscreen text-light">
                <div class="text-middle text-center">
                    <h1 class="text-uppercase text-medium">Welcome to RichmondPd.org</h1>
                    <p class="lead">Have a tip, question or concern?</p>
                    <a class="btn btn-primary" href="#"><i class="fa fa-bolt"></i>Contact Us</a>
                    <!--<a class="btn btn-outline btn-light" href="https://themeforest.net/item/polo-responsive-multipurpose-html5-template/13708923">Purchase</a>-->
                </div>
            </div>
        </section>
        <!-- end: SECTION IMAGE FULLSCREEN -->

        <!-- COMPANY -->
        <section class="p-b-10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="heading-text heading-section">
                            <h2>Mission Statement</h2>
                            <span class="lead">To provide professional and quality law enforcement services to all people in Richmond, whether resident or visitor, while maintaining the highest degree of integrity, character, fairness, and honesty.  The Richmond Police Department shall forge reliable partnerships with all local, state, and federal law enforcement agencies in order to maintain effective communication and collaboration to ensure the best possible protection to the people in Richmond and their respective property.   </span>
                        </div>
                    </div>
                    <div class="col-lg-6 m-t-60">
                        <div class="p-progress-bar-container title-up small color">
                            <div class="p-progress-bar" data-percent="100" data-delay="100" data-type="%">
                                <div class="progress-title">HTML5</div>
                            </div>
                        </div>

                        <div class="p-progress-bar-container title-up small color">
                            <div class="p-progress-bar" data-percent="94" data-delay="200" data-type="%">
                                <div class="progress-title">CSS3</div>
                            </div>
                        </div>

                        <div class="p-progress-bar-container title-up small color">
                            <div class="p-progress-bar" data-percent="78" data-delay="300" data-type="%">
                                <div class="progress-title">JQUERY</div>
                            </div>
                        </div>

                        <div class="p-progress-bar-container title-up small color">
                            <div class="p-progress-bar" data-percent="65" data-delay="400" data-type="%">
                                <div class="progress-title">MYSQL</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: COMPANY -->

        <!-- COUNTERS -->
        <section class="background-grey text-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">

                        <div class="text-center">
                            <div class="icon"><i class="fa fa-3x fa-hand-holding-dollar"></i></div>
                            <div class="counter"> <span data-speed="3000" data-refresh-interval="50" data-to="12416" data-from="600" data-seperator="true"></span> </div>
                            <div class="seperator seperator-small"></div>
                            <p>DOLLARS DONATED</p>
                        </div>
                    </div>

                    <div class="col-lg-3">

                        <div class="text-center">
                            <div class="icon"><i class="fa fa-3x fa-coffee"></i></div>
                            <div class="counter"> <span data-speed="4500" data-refresh-interval="23" data-to="3650000" data-from="100" data-seperator="true"></span> </div>
                            <div class="seperator seperator-small"></div>
                            <p>CUPS OF COFFEE</p>
                        </div>
                    </div>

                    <div class="col-lg-3">

                        <div class="text-center">
                            <div class="icon"><i class="fa fa-3x fa-dollar-sign"></i></div>
                            <div class="counter"> <span data-speed="3000" data-refresh-interval="12" data-to="114" data-from="50" data-seperator="true"></span> </div>
                            <div class="seperator seperator-small"></div>
                            <p>COMMUNITY FUNDRAISERS</p>
                        </div>
                    </div>

                    <div class="col-lg-3">

                        <div class="text-center">
                            <div class="icon"><i class="fa fa-3x fa-smile-o"></i></div>
                            <div class="counter"> <span data-speed="4550" data-refresh-interval="50" data-to="8000" data-from="48" data-seperator="true"></span> </div>
                            <div class="seperator seperator-small"></div>
                            <p>SATISFIED COMUNITY MEMBERS</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: COUNTERS -->

        <!-- SERVICES -->
        <section>
            <div class="container">
                <div class="heading-text heading-section">
                    <h2>Popular Links</h2>
                    <span class="lead">Create amam ipsum dolor sit amet, Beautiful nature, and rare feathers!.</span>
                </div>

                <div class="row">
                    <div class="col-lg-4" data-animate="flipInY" data-animate-delay="0">
                        <div class="icon-box effect small">
                            <div class="icon">
                                <a href="http://www.richmondri.com"><i class="fa fa-building-shield"></i></a>
                            </div>
                            <h3>Town Of Richmond</h3>
                            <p>News and announcements, community calender, and more. </p>
                        </div>
                    </div>
                    <div class="col-lg-4" data-animate="flipInY" data-animate-delay="200">
                        <div class="icon-box effect small ">
                            <div class="icon">
                                <a href="https://www.ri.gov"><i class="fa fa-building-columns"></i></a>
                            </div>
                            <h3>RI.gov</h3>
                            <p>For the latest information about Coronavirus.</p>
                        </div>
                    </div>
                    <div class="col-lg-4" data-animate="flipInY" data-animate-delay="400">
                        <div class="icon-box effect small ">
                            <div class="icon">
                                <a href="https://risp.ri.gov"><i class="fa fa-handcuffs"></i></a>
                            </div>
                            <h3>Rhode Island State Ploice</h3>
                            <p>A full-service, statewide law enforcement agency .</p>
                        </div>
                    </div>

                    <div class="col-lg-4" data-animate="flipInY" data-animate-delay="600">
                        <div class="icon-box effect small ">
                            <div class="icon">
                                <a href="https://www.courts.ri.gov/Pages/default.aspx"><i class="fa fa-gavel"></i></a>
                            </div>
                            <h3>Rhode Island Judiciary</h3>
                            <p>Administering justice while maintaining our independence.</p>
                        </div>
                    </div>
                    <div class="col-lg-4" data-animate="flipInY" data-animate-delay="800">
                        <div class="icon-box effect small ">
                            <div class="icon">
                                <a href="https://www.ri.gov/guide/"><i class="fa fa-circle-info"></i></a>
                            </div>
                            <h3>Rhode Island Government Agencies</h3>
                            <p>All Rhode Island agencies.</p>
                        </div>
                    </div>
                    <div class="col-lg-4" data-animate="flipInY" data-animate-delay="1000">
                        <div class="icon-box effect small ">
                            <div class="icon">
                                <a href="https://www.fbi.gov"><i class="fa fa-user-secret"></i></a>
                            </div>
                            <h3>Federal Bureau of Investigation</h3>
                            <p>Help Find Fugitives & Missing Persons.</p>
                        </div>
                    </div>

                    <div class="col-lg-4" data-animate="flipInY" data-animate-delay="1200">
                        <div class="icon-box effect small ">
                            <div class="icon">
                                <a href="https://www.dhs.gov"><i class="fa fa-flag-usa"></i></a>
                            </div>
                            <h3>Department of Homeland Security</h3>
                            <p>learn more about homeland security.</p>
                        </div>
                    </div>
                    <div class="col-lg-4" data-animate="flipInY" data-animate-delay="1400">
                        <div class="icon-box effect small ">
                            <div class="icon">
                                <a href="https://www.rimostwanted.org"><i class="fa fa-skull"></i></a>
                            </div>
                            <h3>Rhode Island Most Wanted</h3>
                            <p>Help Rhode Island police locate wanted criminals.</p>
                        </div>
                    </div>
                    
                </div>
            </div>

        </section>
        <!-- end: SERVICES -->

        <div class="seperator p-b-0 p-t-0"><i class="fa fa-chevron-down"></i>
        </div>
        <!-- CLIENTS
        <section>
            <div class="container">
                <div class="heading-text heading-section text-center">
                    <h2>OUR CLIENTS</h2>
                    <span class="lead">Our awesome clients we've had the pleasure to work with! </span>
                </div>

                <ul class="grid grid-5-columns">
                    <li>
                        <a href="#"><img src="{% static 'images/clients/1.png' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'images/clients/2.png' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'images/clients/3.png' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'images/clients/4.png' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'images/clients/5.png' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'images/clients/6.png' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'images/clients/7.png' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'images/clients/8.png' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'images/clients/9.png' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'images/clients/10.png' %}" alt="">
                        </a>
                    </li>
                </ul>

            </div>
        </section>
        CLIENTS -->

        <!-- BLOG -->
        
        <section class="p-b-40 background-grey">
            <div class="container">

                <div class="heading-text heading-section">
                    <h2>Recent News</h2>
                    <span class="lead">The most happiest time of the day!. </span>
                </div>
            </div>

            <div id="blog">
                <div class="container">
                    
                    <!-- Blog -->
                    
                    <div id="blog" class="grid-layout post-3-columns m-b-30" data-item="post-item">

                        <!-- Post item-->
                        {% for obj in latest %}
                        <div class="post-item border">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                    <a href="blog/">
                                        <img alt="" src="{{ obj.thumbnail.url }}">
                                    </a>
                                    <span class="post-meta-category">
                                        {% for cat in obj.categories.all %}
                                        <a href="{{ post.get_absolute_url }}">{{ cat }}</a>
                                        {% endfor %}
                                    </span>
                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>{{ obj.timestamp | timesince }} ago</span>
                                    <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>{{ obj.comment_count }}</a></span>
                                    <h2><a href="{{ post.get_absolute_url }}">{{ obj.title }}
										</a></h2>
                                    <p>{{ obj.overview }}</p>

                                    <a href="{{ post.get_absolute_url }}" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- end: Post item-->

                        <!-- Post item
                        <div class="post-item border">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                    <a href="#">
                                        <img alt="" src="{% static 'images/blog/17.jpg' %}">
                                    </a>
                                    <span class="post-meta-category"><a href="">Science</a></span>
                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                                    <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>

                                    <h2><a href="#">Standard post with a single image
										</a></h2>
                                    <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

                                    <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                                </div>
                            </div>
                        </div>
                        end: Post item-->


                        <!-- Post item
                        <div class="post-item border">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                    <a href="#">
                                        <img alt="" src="{% static 'images/blog/18.jpg' %}">
                                    </a>
                                    <span class="post-meta-category"><a href="">Science</a></span>
                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                                    <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>

                                    <h2><a href="#">Standard post with a single image
										</a></h2>
                                    <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

                                    <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                                </div>
                            </div>
                        </div>
                       end: Post item-->
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- end: BLOG -->

       
{% endblock content %}


