{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="body-inner">
        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div class="row">
                    <!-- content -->
                    <div class="content col-lg-9">
                        <!-- Blog -->
                        <div id="blog" class="single-post">
                            <!-- Post item-->
                            <div class="post-item">
                                <div class="post-item-wrap">
                                    <div class="post-image">
                                        <a href="{{ post.get_absolute_url }}">
                                            <img alt="" src="{{ post.thumbnail.url }}">
                                        </a>
                                    </div>
                                    <div class="post-item-description">
                                        <h2>{{ post.title }}</h2>
                                        <div class="post-meta">
                                            <span class="post-meta-date"><i class="fa fa-calendar-o"></i>{{ post.timestamp | timesince}} ago</span>
                                            <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>{{ post.comment_count }}</a></span>
                                            
                                            <span class="post-meta-category">
                                            {% for cat in post.catgories.all %}
                                                <a href="{{ post.get_absolute_url }}"><i class="fa fa-tag">
                                                </i>{{ cat }}</a>
                                            {% endfor %}
                                            </span>
                                            <div class="post-meta-share">
                                                <a class="btn btn-xs btn-slide btn-facebook" href="#">
                                                    <i class="fab fa-facebook-f"></i>
                                                    <span>Facebook</span>
                                                </a>
                                                <a class="btn btn-xs btn-slide btn-twitter" href="#" data-width="100">
                                                    <i class="fab fa-twitter"></i>
                                                    <span>Twitter</span>
                                                </a>
                                                <a class="btn btn-xs btn-slide btn-instagram" href="#" data-width="118">
                                                    <i class="fab fa-instagram"></i>
                                                    <span>Instagram</span>
                                                </a>
                                                <a class="btn btn-xs btn-slide btn-googleplus" href="mailto:#" data-width="80">
                                                    <i class="icon-mail"></i>
                                                    <span>Mail</span>
                                                </a>
                                            </div>
                                        </div>
                                        {{ post.content | safe }}
                                    </div>
                                    <div class="post-tags">
                                        <a href="#">Life</a>
                                        <a href="#">Sport</a>
                                        <a href="#">Tech</a>
                                        <a href="#">Travel</a>
                                    </div>
                                    <div class="comments" id="comments">
                                        <div class="comment_number">
                                            Comments <span>{{ post.comment_count }}</span>
                                        </div>
                                        
                                        <!-- Disqus Comments -->
                                        <div id="disqus_thread"></div>
                                        <script type="text/javascript">
                                            // Add your disqus shortname - more info https://help.disqus.com/customer/portal/articles/466208
                                            var disqus_shortname = 'inspirothemes';
                                            /// DO NOT THIS CODE BELOW 
                                            (function() {
                                                var disqus = document.createElement('script');
                                                disqus.type = 'text/javascript';
                                                disqus.async = true;
                                                disqus.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(disqus);
                                            })();
                                        </script>
                                        <!-- end: Disqus Comments -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- end: Post item-->
                    </div>
                    <!-- end: content -->
                    <!-- Sidebar-->
                    <div class="sidebar sticky-sidebar col-lg-3">
                        <!--Tabs with Posts-->
                        <div class="widget">
                            <h4 class="widget-title">Recent Posts</h4>
                            <div class="post-thumbnail-list">
                                {% for post in most_recent %}
                                <div class="post-thumbnail-entry">
                                    <img alt="" src="{{ post.thumbnail.url }}">
                                    <div class="post-thumbnail-content">
                                        <a href="{{ post.get_absolute_url }}">{{ post.title }} </a>
                                        <span class="post-date"><i class="icon-clock"></i>{{ post.timestamp | timesince }} ago</span>
                                        <span class="post-category">
                                            {% for cat in post.categories.all %}
                                            <a href="{{ post.get_absolute_url }}">{{ cat }}</a>
                                            {% endfor %}
                                        </span>
                                    </div>
                                </div>
                                {% endfor %}

                        <!--End: Tabs with Posts-->
                        <!-- Twitter widget
                        <div class="widget widget-tweeter" data-username="envato" data-limit="2">
                            <h4 class="widget-title">Recent Tweets</h4>
                        </div>
                        end: Twitter widget-->
                        <!--widget tags -->
                        <div class="widget  widget-tags">
                            <h4 class="widget-title">Tags</h4>
                            <div class="tags">
                                <a href="#">Design</a>
                                <a href="#">Portfolio</a>
                                <a href="#">Digital</a>
                                <a href="#">Branding</a>
                                <a href="#">HTML</a>
                                <a href="#">Clean</a>
                                <a href="#">Peace</a>
                                <a href="#">Love</a>
                                <a href="#">CSS3</a>
                                <a href="#">jQuery</a>
                            </div>
                        </div>
                        <!--end: widget tags -->
                        <!--widget newsletter-->
                        <div class="widget  widget-newsletter">
                            <form class="widget-subscribe-form" novalidate action="include/subscribe-form.php" role="form" method="post">
                                <h4 class="widget-title">Newsletter</h4>
                                <small>Stay informed on our latest news!</small>
                                <div class="input-group">
                                    <input type="email" required name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
                                    <span class="input-group-btn">
                                        <button type="submit" id="widget-subscribe-submit-button" class="btn btn-default"><i class="fa fa-paper-plane"></i></button>
                                    </span> </div>
                            </form>
                        </div>
                        <!--end: widget newsletter-->
                    </div>
                    <!-- end: sidebar-->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->

        {% endblock content %}